<div class="main-content page-m" >
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer <i class="far fa-id-badge" style="color: #339af0;"></i></h3>

                    <div class="row">
                        <div class="col-md-3"><label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text" disabled >
                                <div  class="form-control-feedback alert alert-danger"
                                    *ngIf = "firstName.invalid && (firstName.dirty || firstName.touched)" >
                                    <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhitespace">
                                        First Name is required
                                    </div>
                                    <div *ngIf="firstName.errors.minlength">
                                        First Name must be at least 2 characters long 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text" disabled>
                                <div  class="form-control-feedback alert alert-danger"
                                    *ngIf = "lastName.invalid && (lastName.dirty || lastName.touched)" >
                                    <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhitespace">
                                        Last Name is required
                                    </div>
                                    <div *ngIf="lastName.errors.minlength">
                                        Last Name must be at least 2 characters long 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>E-mail</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text" disabled>
                                <div  class="form-control-feedback alert alert-danger"
                                    *ngIf = "email.invalid && (email.dirty || email.touched)" >
                                    <div *ngIf="email.errors.required">
                                        E-mail  is required
                                    </div>
                                    <div *ngIf="email.errors.pattern">
                                        E-mail must be a valid email address format 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- shipping adress -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>shipping Address <i class="fas fa-dolly" style="color: #339af0;"></i></h3>

                    <div class="row">
                        <div class="col-md-3"><label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}      
                                    </option>
                                </select>

                                <div  class="form-control-feedback alert alert-danger"
                                    *ngIf = "shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)" >
                                    <div *ngIf="shippingAddressCountry.errors.required ">
                                        Country is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div  class="form-control-feedback alert alert-danger"
                                    *ngIf = "shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)" >
                                    <div *ngIf="shippingAddressStreet.errors.required || shippingAddressStreet.errors.notOnlywhitespace">
                                        Street is required
                                    </div>
                                    <div *ngIf="shippingAddressZipCode.errors.minlength" >
                                        At least 2 characteres is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div  class="form-control-feedback alert alert-danger"
                                    *ngIf = "shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)" >
                                    <div *ngIf="shippingAddressCity.errors.required || shippingAddressCity.errors.notOnlywhitespace">
                                        City is required
                                    </div>
                                    <div *ngIf="shippingAddressZipCode.errors.minlength" >
                                        At least 2 characteres is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state" >
                                        {{ state.name }}
                                    </option>
                                </select>
                                <div  class="form-control-feedback alert alert-danger"
                                    *ngIf = "shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)" >
                                    <div *ngIf="shippingAddressState.errors.required ">
                                        State is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div  class="form-control-feedback alert alert-danger"
                                *ngIf = "shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)" >
                                <div *ngIf="shippingAddressZipCode.errors.required || shippingAddressZipCode.errors.notOnlywhitespace">
                                    Zip Code is required
                                </div>
                                <div *ngIf="shippingAddressZipCode.errors.minlength" >
                                    At least 2 characteres is required
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                 <!-- Add check Box to copy shipping to billing -->
                 <div class="input-space">
                    <label  class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Billing Address same as Shipping Address 
                    </label>
                </div>

                <!-- Billing Adress -->
                
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address <i class="fas fa-map-pin" style="color: #339af0;"></i> </h3>

                    <div class="row">
                        <div class="col-md-3"><label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}      
                                    </option>
                                </select>
                                <div  class="form-control-feedback alert alert-danger"
                                    *ngIf = "billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)" >
                                        <div *ngIf="billingAddressCountry.errors.required ">
                                            Country is required
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div  class="form-control-feedback alert alert-danger"
                                    *ngIf = "billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)" >
                                    <div *ngIf="billingAddressStreet.errors.required || billingAddressStreet.errors.notOnlywhitespace">
                                        Street is required
                                    </div>
                                    <div *ngIf="billingAddressStreet.errors.minlength" >
                                      Street  At least 2 characteres is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div  class="form-control-feedback alert alert-danger"
                                    *ngIf = "billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)" >
                                    <div *ngIf="billingAddressCity.errors.required || billingAddressCity.errors.notOnlywhitespace">
                                        City is required
                                    </div>
                                    <div *ngIf="billingAddressCity.errors.minlength" >
                                       City must be At least 2 characteres is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state" >
                                        {{ state.name }}
                                    </option>
                                </select>
                                <div  class="form-control-feedback alert alert-danger"
                                    *ngIf = "billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched)" >
                                    <div *ngIf="billingAddressState.errors.required ">
                                        State is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div  class="form-control-feedback alert alert-danger"
                                    *ngIf = "billingAddressZipCode.invalid && (billingAddressZipCode.dirty || billingAddressZipCode.touched)" >
                                    <div *ngIf="billingAddressZipCode.errors.required || billingAddressZipCode.errors.notOnlywhitespace">
                                        Zip Code is required
                                    </div>
                                    <div *ngIf="billingAddressZipCode.errors.minlength" >
                                        At least 2 characteres is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

               <!-- Credit Card -->
               <div class="form-area" formGroupName="creditCard">
                        <h3>Credit Card <i class="fab fa-cc-visa mr-1" style="color: #339af0;" ></i> <i class="fab fa-cc-mastercard" style="color: #339af0;"></i>  </h3>

                    <div class="row">
                        <div class="col-md-3"><label>Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option >Visa </option>
                                    <option >Master-card</option>
                                </select>
                                <div  class="form-control-feedback alert alert-danger"
                                    *ngIf = "creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)" >
                                        <div *ngIf="creditCardType.errors.required ">
                                            Type is required
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                                <div  class="form-control-feedback alert alert-danger"
                                    *ngIf = "creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)" >
                                    <div *ngIf="creditCardNameOnCard.errors.required || creditCardNameOnCard.errors.notOnlywhitespace">
                                        Name on Card is required
                                    </div>
                                    <div *ngIf="creditCardNameOnCard.errors.minlength" >
                                        At least 2 characteres is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                                <div  class="form-control-feedback alert alert-danger"
                                    *ngIf = "creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)" >
                                    <div *ngIf="creditCardNumber.errors.required">
                                        Card Number  is required
                                    </div>
                                    <div *ngIf="creditCardNumber.errors.pattern" >
                                        Card number must be 16 digits long
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                                <div  class="form-control-feedback alert alert-danger"
                                    *ngIf = "creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)" >
                                    <div *ngIf="creditCardSecurityCode.errors.required">
                                        Security Code  is required
                                    </div>
                                    <div *ngIf="creditCardSecurityCode.errors.pattern" >
                                        Security Code  must be 3 digits long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{ month }}
                                    </option>
                                    
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Expiration Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{ year }}
                                    </option>
                                    
                                </select>
                            </div>
                        </div>
                    </div>
               </div>
               <!-- Order details -->
               <div class="form-area">
                   <h3>Review Your Order</h3>
                   <p>Total quantity : {{totalQuantity}} </p>
                   <p><i class="fas fa-shipping-fast" style="color: #339af0;"></i> Shipping :FREE </p>
                   <p><i class="fas fa-dollar-sign" style="color: #037412;"></i> Total Price : {{totalPrice | currency:'TND'}} </p>
               </div>

                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>
        </div>
    </div>
    
    
</div>

